body {
  background-color: white;
  color: white;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
/*header*/

header {
  padding: 20px;
  height: 400px;
  background-image: url(images/hero.jpg);
  background-size: 100%;
  background-position: center;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 15px;
}

header .logo a {
  background-image: url("images/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -30px; /*Moving the logo from the top used with position*/
  height: 190px;
  text-indent: -99999999px; /*for screen readers*/
  width: 300px;
}

header .mobile {
  display: none;
}
.features {
  background-color: white;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex: wrap;
}

.features figure {
  margin: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.features figure img {
  width: 400px;
  border-radius: 50%;
  box-shadow: grey 0 0 10px;
  border: solid white;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 20px;
}

/*Responsiveness*/
@media screen and (max-width: 738px) {
  header {
    height: 250px;
    background-position: 0 -30px;
  }
  header .mobile {
    display: block;
  }
  header .desktop {
    display: none;
  }
  header .logo a {
    background-size: 200px;
    height: 100px;
    width: 200px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 200px;
    background-position: 0 -0px;
    background-image: url(images/hero1.jpg);
  }
}

footer {
  background-color: black;
  color: grey;
  font-size: 10px;
  padding: 20px 20px;
  text-align: center;
}
